* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'open sans', oswald;
}

.firsthead {
    background-color: rgb(12 62 117);
    padding: 30px;
}

.firsthead h1 {
    color: white; 
}

.bodyheader {
    padding: 30px;
    line-height: 40px; 
}

.box {
    background-color: rgb(240 237 238);
    margin: 30px;
}   

.innerbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 740px 40px 0px; 
}

body {
    background-color: white;
}

.main {
    display: flex;
    justify-content: space-evenly, left; 
    flex-wrap: wrap;
    text-align: left; 
    padding: 50px; 
    margin: 10px 10px 10px 70px; 
}

ol li {
    list-style: none!important;
}

.form {
    line-height: 20px;
}
.footer {
    display: flex;
    flex-direction: row;
}