* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'open sans', oswald;
    max-width: 1rem auto;
}

.firsthead {
    background-color: rgb(12 62 117);
    padding: 30px;
}

.firsthead h1 {
    color: white; 
}

.bodyheader {
    padding: 30px;
    line-height: 40px; 
}

.box {
    background-color: rgb(240 237 238);
    margin: 30px;
}   

.innerbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 740px 40px 0px; 
    max-width: 1rem auto;
}

body {
    background-color: white;
}

.main {
    display: grid;
    justify-content: space-around; 
    flex-wrap: wrap;
    padding: 100px; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}


.list {
    list-style: none!important; 
    display: flex; 
    margin: 1rem 0; 
    flex-wrap: wrap;
}

.list li {
    margin-right: 0.2rem; 
    background-color: rgb(147 221 239);
    border-radius: 25px; 
    padding: 5px; 
}

.footer {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
}

.donate {
    background: linear-gradient(rgba(30, 9, 110, 0.5),rgba(30, 9, 110, 0.5)), url(starter_files/images/donate.jpg); 
    background-position: center; 
    background-size: cover; 
    padding: 200px; 
    text-align: center; 
    color: white; 
}

.volunteer {
    background: linear-gradient(rgba(30, 9, 110, 0.5),rgba(30, 9, 110, 0.5)), url(starter_files/images/volunteer.jpg); 
    background-position: center; 
    background-size: cover; 
    padding: 200px;  
    text-align: center; 
    color: white;
}

.location {
    background: linear-gradient(rgba(30, 9, 110, 0.5),rgba(30, 9, 110, 0.5)), url(starter_files/images/location.png); 
    background-position: center; 
    background-size: cover; 
    padding: 200px; 
    text-align: center; 
    color: white; 
}

